*.pdf
*.bbl
/documento.aux
/documento.blg
/documento.glo
/documento.idx
/documento.ist
/documento.lof
/documento.log
/documento.lot
/documento.toc
/auto/documento.el
/documento.glg
/documento.gls
/documento.ilg
/documento.ind
